# Database 
DATABASE_URL=postgres://postgres:example@localhost:5432/postgres

# Basic Auth 
BETTER_AUTH_SECRET=PC0PlbBloArW5Nv9sob9bhruIiKRNzOT
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
