# Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=postgres

DB_N8N_USER=n8n
DB_N8N_PASSWORD=example
DB_N8N_DATABASE=n8n

# Database 
DATABASE_URL=postgres://postgres:example@localhost:5432/postgres

# Basic Auth 
BETTER_AUTH_SECRET=PC0PlbBloArW5Nv9sob9bhruIiKRNzOT
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Drive API (Service Account)
GOOGLE_REFRESH_TOKEN=
CANDIDATES_DIR_ID=