node_modules/
build/
api/src/modules/GAuth/authInfo
.idea/
/**/.env
/api/config/*.yaml
/**/dist
/**/*.tsbuildinfo
.vscode

/fontend_tmp
/frontend_tmp/**

tmp-*

**/.DS_Store

.*
!.gitignore

pnpm-lock.yaml