node_modules/
build/
api/src/modules/GAuth/authInfo
.idea/
/**/.env
/api/config/*.yaml
/**/dist
/**/*.tsbuildinfo
.vscode
.env_db
.env
.env_web
.env_api

tmp-*

**/.DS_Store

.*
!.github
!.gitignore
!**/.swcrc

**/*.sqlite

coverage/
