services:
  postgres:
    image: postgres:18-alpine
    networks:
      - hkr_internal
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - DB_N8N_USER
      - DB_N8N_PASSWORD
      - DB_N8N_DATABASE
    volumes:
      - ./n8n/initdb.sh:/docker-entrypoint-initdb.d/init-data.sh
      - ./.data/postgres:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=${DB_N8N_DATABASE}
      - DB_POSTGRESDB_USER=${DB_N8N_USER}
      - DB_POSTGRESDB_PASSWORD=${DB_N8N_PASSWORD}
    networks:
      - hkr_internal
    ports:
      - 5678:5678
    links:
      - postgres
    volumes:
      - ./.data/n8n:/home/node/.n8n
    depends_on:
      postgres:
        condition: service_healthy

  hkr:
    image: ghcr.io/munuchapterhkn/hkrecruitment:latest
    build: .
    restart: always
    env_file: .env
    networks:
      - hkr_internal
    ports:
      - 8080:3000
    depends_on:
      postgres:
        condition: service_healthy

networks:
  hkr_internal:
