services:
  postgres:
    image: postgres:18-alpine
    networks:
      - hkr_internal
    ports:
      - 5432:5432
    env_file: .env
    volumes:
      - ./scripts/init-n8n.sh:/docker-entrypoint-initdb.d/init-n8n.sh
      - ./scripts/init-hkr.sh:/docker-entrypoint-initdb.d/init-hkr.sh
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}',
        ]
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=${DB_N8N_DATABASE}
      - DB_POSTGRESDB_USER=${DB_N8N_USER}
      - DB_POSTGRESDB_PASSWORD=${DB_N8N_PASSWORD}
    networks:
      - hkr_internal
    ports:
      - 5678:5678
    links:
      - postgres
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      postgres:
        condition: service_healthy

  hkr:
    image: ghcr.io/munuchapterhkn/hkrecruitment:latest
    build: .
    restart: always
    env_file: .env
    networks:
      - hkr_internal
    ports:
      - 8080:3000
    depends_on:
      postgres:
        condition: service_healthy

  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - 80:80
      - 443:443
    networks:
      - hkr_internal
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_config:/config
      - caddy_data:/data
    depends_on:
      - hkr

networks:
  hkr_internal:

volumes:
  postgres_data:

  n8n_data:

  caddy_data:
  caddy_config:
