.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar{
  background-color:#F9F9F9; 
}
.navbar-brand{
  color: black;
}
.HKNlogo{
  height: 20px;
  width: 50%;
}
.myNavbar{
  background-color: white;
}
.brand{
  background-color: black;
  text-align: left;
}
.user{
  background-color: black;
  text-align: left;
  height: 66px;
  align-content: center;
}
.slope {
  height: 0;
  border-bottom: 66px solid black;
  border-right: 50px solid white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.slope2 {
  height: 0;
  border-top: 66px solid black;
  border-left: 50px solid white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
