/* Generic styling */
:root {
  --hkblue: #061e33;
  --hkwhite: #ffffff;
}

body {
  background-color: var(--hkblue);
  color: var(--hkwhite);
}

a {
  color: var(--hkwhite);
}


/* Profile dropdown on HKNavbar */
#profile-nav-dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: rgba(6, 30, 51, 0.7);
  backdrop-filter: blur(4px);
  border: 1px solid white;
}

#profile-nav-dropdown .dropdown-menu .dropdown-item-text {
  color: var(--hkwhite);
}

#profile-nav-dropdown .dropdown-menu .dropdown-divider {
  border-top: 1px solid white;
}
